<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">The Tech Blog</h1>
        <p>Login</p>
    </div>
</div>
{{!-- Login Form --}}
<form class="login-form">
    <div>
        <label for="username-login">Username:</label>
        <input type="text" id="username-login" />
    </div>
    <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    <div>
        <p>Not a User? <a href="/signup">Sign Up!</a></p>
    </div>
</form>

<script src="/javascript/login.js"></script>