<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">The Tech Blog</h1>
    </div>
</div>
{{!-- Post Info --}}
{{> post-info post }}

{{!-- Post Comment/Upvote --}}
{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>
{{/if}}

{{!-- Display Comments --}}
{{> comments post.comments}}

{{!-- Link javascript code to enable page functions --}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}